@use '@/styles/typography' as *;
@use '@/styles/variables' as *;

.loader {
    position: absolute;
    top: 0;
    left: 0;

    z-index: 60;
    
    width: 100dvw;
    height: 100dvh;

    @include glass($radius: 0px, $border: transparent);
    
    
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 100%;
    }

    &__spinner {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        display: inline-block;
        border-top: 3px solid var(--accent);
        border-right: 3px solid transparent;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 